docker/rpi flow
[{"id":"f191dce0.1d49a8","type":"mqtt-broker","z":"","broker":"172.24.74.5","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"33939f28.02fa7","type":"mqtt in","z":"2172df0c.caed98","name":"","topic":"/esp/16619453/memory","broker":"f191dce0.1d49a8","x":152.5,"y":317,"wires":[["fa580f8d.1b1218"]]},{"id":"fa580f8d.1b1218","type":"debug","z":"2172df0c.caed98","name":"","active":false,"console":"false","complete":"true","x":916.5,"y":173,"wires":[]},{"id":"31e1e075.070cc8","type":"mqtt out","z":"2172df0c.caed98","name":"","topic":"/esp-16619453","qos":"","retain":"","broker":"f191dce0.1d49a8","x":816.5,"y":443,"wires":[]},{"id":"12455571.99e6ab","type":"inject","z":"2172df0c.caed98","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":620.5,"y":664,"wires":[["31e1e075.070cc8"]]},{"id":"7758acc0.b7ed1c","type":"mqtt in","z":"2172df0c.caed98","name":"","topic":"/esp/16619453/temperature","broker":"f191dce0.1d49a8","x":163.5,"y":252,"wires":[["fa580f8d.1b1218"]]},{"id":"2485c450.dc6d1c","type":"switch","z":"2172df0c.caed98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"29.99","vt":"str"},{"t":"btwn","v":"30","vt":"num","v2":"60","v2t":"num"},{"t":"gt","v":"60","vt":"str"},{"t":"else"}],"checkall":"false","outputs":4,"x":402.5,"y":407,"wires":[["2897b143.17bc7e"],["6e623775.af00d8"],["3bedecdf.276f74"],["68ad756b.e17dcc"]]},{"id":"26a220ac.254018","type":"mqtt in","z":"2172df0c.caed98","name":"","topic":"/esp/16619453/humidity","broker":"f191dce0.1d49a8","x":155,"y":382,"wires":[["2485c450.dc6d1c","fa580f8d.1b1218"]]},{"id":"2897b143.17bc7e","type":"function","z":"2172df0c.caed98","name":"","func":"msg.payload = \"Low\"\nreturn msg;","outputs":1,"noerr":0,"x":574.5,"y":350,"wires":[["31e1e075.070cc8"]]},{"id":"6e623775.af00d8","type":"function","z":"2172df0c.caed98","name":"","func":"msg.payload = \"comfort\"\nreturn msg;","outputs":1,"noerr":0,"x":574,"y":389,"wires":[["31e1e075.070cc8"]]},{"id":"68ad756b.e17dcc","type":"function","z":"2172df0c.caed98","name":"","func":"msg.payload=\"Error\"\nreturn msg;","outputs":1,"noerr":0,"x":575.5,"y":465,"wires":[["31e1e075.070cc8"]]},{"id":"3bedecdf.276f74","type":"function","z":"2172df0c.caed98","name":"","func":"msg.payload = \"high\"\nreturn msg;","outputs":1,"noerr":0,"x":574.5,"y":427,"wires":[["31e1e075.070cc8"]]},{"id":"88fc68e8.db8c68","type":"e-mail","z":"2172df0c.caed98","server":"smtp.gmail.com","port":"465","name":"aurelbruno06@gmail.com","dname":"","x":700.5,"y":51,"wires":[]},{"id":"c91ed97e.a9b9a","type":"inject","z":"2172df0c.caed98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":357.5,"y":43,"wires":[["88fc68e8.db8c68"]]}]
